<div style="height: 100vh;">
  <div id="column">
    <h1 class="text-center py-3 text-light">ユーザーの一覧</h1>
  </div>

  <% @users.each do |user| %>
    <div class="col-lg-3 col-4 p-1">
      <div class="card bg-dark  text-light mb-3" style="border-radius: 15px;">
        <div class="card-header pb-1" >
          <div class="card-text text-center p-2" style="font-size: 20px;">
            <%= link_to user_path(user), class: "text-light " do %>
                Name：<%= user.name %>
            <% end %>
          </div>
        </div> 
        <div class="card-body d-flex align-items-center py-3">
          <%= link_to user_path(user), class: "text-light " do %>
              <img class="img-fluid rounded-circle" src=<%= user.icon %> alt="表示できません">
          <% end %>  
        </div>
        <div class="card-text align-self-center pl-1 pt-2" style="font-size: 20px;">
          Profile：<%= user.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>