
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="#">Recommend Music Storage!</a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

      <% unless user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'LINEでログイン', user_line_omniauth_authorize_path, { method: :post, class: "nav-link text-white" } %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "ログアウト", destroy_user_session_path, { method: :delete, class: "nav-link text-white" } %>
        </li>
      <% end %>

      </ul>
    </div>
  </nav>
</header>

<div class="main">
  <div class="link">
    <%= link_to "新規投稿ページへ", new_post_path %>
  </div>
</div>

<div class="center">
  <% @posts.each do |post| %>
    <div class="d-flex">
      <p class="text-center">
        <%= post.user.name %>
      </p>
      <div class="col-1">
        <img class="img-fluid rounded-circle" src=<%= post.user.icon %> alt="表示できません">
      </div>
      <p class="text-center">
        <%= l post.created_at %>
      </p>
      
      <% if user_signed_in? %>
        <% if current_user.user_id == post.user_id %>
          <div class="button">
            <%= link_to "削除", post_path(post.id), method: :delete %>
          </div>
        <% end %>
      <% end %>
      
    </div>

    <div class="card embed-responsive embed-responsive-16by9 col-md-6 col-12" >
      <iframe class="embed-responsive-item" src=<%= "https://www.youtube.com/embed/#{post.video_id}" %>></iframe>
    </div>

    <br>
  <% end %>
</div>

